<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <title>Question 4</title>

    <style>
        .container {
            max-width: 60rem;
        }
    </style>
</head>

<body>
    <div ng-app="app" class="flex flex-col min-h-screen bg-slate-50">
        <header class="sticky top-0 flex items-center px-4 h-12 bg-purple-500">
            <p class="text-xl text-white font-bold">Friendzy</p>
        </header>
        <div ng-controller="AppController" class="p-4 space-y-4 flex-1 container mx-auto">
            <div class="space-y-4">
                <div class="p-4 bg-white border rounded-md shadow-sm space-y-2">
                    <p class="text-lg font-bold">Add a new Friend</p>
                    <form (submit)="addFriend()">
                        <div class="grid grid-cols-2 gap-2">
                            <input class="p-2 w-full bg-slate-50 border rounded-md" type="text" placeholder="First Name"
                                name="firstName" ng-model="first_name" />
                            <input class="p-2 w-full bg-slate-50 border rounded-md" type="text" placeholder="Last Name"
                                name="lastName" ng-model="last_name" />
                            <div class="col-span-2 border flex">
                                <button class="p-2 flex-1 bg-purple-500 text-white w-28 rounded-md" ng-click="addFriend()">
                                    Add Friend
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="border overflow-hidden rounded-md shadow-sm">
                    <table class="bg-white w-full border-hidden">
                        <thead>
                            <tr>
                                <th class="border p-1 w-12">#</th>
                                <th class="border p-1">First Name</th>
                                <th class="border p-1">Last Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="friend in friends">
                                <td class="border p-1 text-center">{{ $index + 1 }}</td>
                                <td class="border p-1 px-2">{{ friend.first_name }}</td>
                                <td class="border p-1 px-2">{{ friend.last_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="sticky bottom-0 w-full">
            <p class="border-t text-xs text-center bg-white p-1">
                Created with 💖 by Atharva Malji & Team
            </p>
        </div>
    </div>

    <!-- Logic Here -->
    <script>

        var app = angular.module('app', []);

        app.controller('AppController', function ($scope) {

            let id = 1;

            $scope.first_name = "";
            $scope.last_name = "";

            $scope.friends = [
                {
                    id: 0,
                    first_name: "Atharva",
                    last_name: "Malji"
                }
            ];
            
            $scope.addFriend = () => {
                if ($scope.first_name === "" || $scope.last_name === "") {
                    alert("Please enter a valid name");
                    return;
                }
                $scope.friends.push({
                    id: id,
                    first_name: $scope.first_name,
                    last_name: $scope.last_name
                });
                $scope.first_name = "";
                $scope.last_name = "";
                id++;
            }
        });

    </script>
</body>

</html>